@use 'variables' as *;

.modal__content {
  max-width: 1920px;
  width: 90%;
  max-height: 90%;
  padding: 2rem 2.5rem;

  @include respond-below($breakpoint-xl) {
    max-width: 1200px;
  }

  @include respond-below($breakpoint-lg) {
    padding: 2rem;
  }

  @include respond-below($breakpoint-md) {
    padding: 1.5rem;
    width: 95%;
  }

  @include respond-below($breakpoint-xs) {
    padding: 1.25rem;
    border-radius: 0.75rem;
  }

  label {
    font-size: 1.5rem;

    @include respond-below($breakpoint-md) {
      font-size: 1.25rem;
    }

    @include respond-below($breakpoint-xs) {
      font-size: 1.1rem;
    }
  }

  input,
  textarea,
  select {
    font-size: 1.3rem;

    @include respond-below($breakpoint-md) {
      font-size: 1.1rem;
    }

    @include respond-below($breakpoint-xs) {
      font-size: 1rem;
    }
  }
}
