@use 'animation';  
@use 'variables' as *;  

.floating-shape {
    position: fixed; // Чтобы они оставались на месте при скролле
    border-radius: 50%;
    opacity: 0.08;
    pointer-events: none; // Чтобы не мешали кликам
    z-index: 0; 
}

.shape1 {
    width: 300px;
    height: 300px;
    background: #D97757;
    top: 10%;
    right: 5%;
    animation: float-gentle1 20s infinite ease-in-out;
}

.shape2 {
    width: 200px;
    height: 200px;
    background: #F4A261;
    bottom: 15%;
    left: 8%;
    animation: float-gentle2 25s infinite ease-in-out reverse;
}