@use './app' as app;
@use './preloader' as preloader;
@use './shapeBg' as shapeBg;
@use './modal' as modal;
@use './variables' as var;
@use './mixins' as mixins;
@use './animation' as animation;
@use './header' as header;  
@use './introduction';
@use './rezervation-form' as rezervation-form;
@use './rezervation-form-free' as reservation-form-free;    
@use './courses' as courses;
@use './shift-lesson' as shift-lesson;
@use './gallery' as gallery;
@use './contacts' as contacts;
@use './price' as price;
@use './footer' as footer;