# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite
schemas/*
schemas

# Assets and credentials
assets/img/
assets/price_img/
credentials.json
.env
.env*

# Python
__pycache__/
*.py[cod]
*$py.class
.python-version
**/uv.lock
**/pyproject.toml

# Виртуальные окружения
.venv/
venv/
env/
ENV/

# BD
*.sqlite3

# Django-specific
static/
media/

# Cache 
.pytest_cache/
.ruff_cache/
.mypy_cache/